*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: helvetica, Arial, sans-serif;
}

h1,
h3 {
  font-size: 2rem;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: lightseagreen;
  height: 100vh;
  gap: 2rem;
  position: relative;
}

input:first-of-type,
.output-wrapper {
  width: 50%;
  height: 3rem;
  border-radius: 3px;
  border: none;
  background-color: whitesmoke;
  padding: 0.8rem 1rem;
}

.output-wrapper {
  min-height: 3rem;
  height: auto;
}

input[type="submit"] {
  width: 25%;
  height: 2rem;
  background-color: blue;
  border: none;
  color: beige;
  border-radius: 3px;
}

p {
  font-weight: 700;
  font-size: 2rem;
}

footer {
  position: absolute;
  bottom: 0rem;
}

a {
  text-decoration: none;
  color: lightgreen;
}
